.chatIdContainer{
    display: flex;
}
.homeContainer {
    background: #d5dbdb;
    /* width: 100%;
    height: 100%;
    overflow: hidden; */
  }
  .greenBg {
    background: #009788;
    
    height: 15vh;
    z-index: -100;
  }
.chatPage{
    flex: 1;
    overflow: scroll;
    height: 100vh;
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.chatPage::-webkit-scrollbar {
    display: none;

}
.chatHeader{
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    display: flex;
    padding: 11px;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;


 
}
.chatback{
    background: #ece5d0;
    top: 20px;
    right: 20px;
    left: 340px;
    bottom: 20px;
    position: absolute;
    overflow: auto;
    z-index: 100;
   margin-left: 200px;
    border-right: 1px solid whitesmoke;
    height: 95vh;
    min-width: 60%;
    max-width: 70%;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.headerInfo{
    margin-left: 15px;
    flex: 1;
}
.headerInfo > h3{
    margin-bottom: 3px;

}
.headerInfo > p{
    font-size: 14px;
    color: gray;
}
.showToggle{
    position: absolute;
    top: 70px;
    right: 10px;
    width: 190px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.showToggle > ul{
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 0px;
    padding-left: 0;
}
.showToggle > ul > li{
    cursor: pointer;
    margin-bottom: 10px;
 padding: 10px;
}
.showToggle > ul > li:hover{

 background-color:#f0f2f5;
}
.inputContainer{
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 100;

}
.messageInput{
    flex: 1;
    outline: 0;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;

}
.messageContainer{
    padding: 30px;
    /* background-color: #e5ded8; */
    background-image: url(../assets/whatsapp__default.png);
    background-repeat: repeat;
  /* overflow-y: scroll; */
    min-height: 90vh;
}
.timestamp{
    color: gray;
padding: 10px;
font-size: 9px;
position: absolute;
bottom: 0;
text-align: right;
right: 0;
}
.endOfMessage{
    margin-bottom: 50px;
}
.emoji-picker-react{
    position: absolute !important;
    top: -325px !important;
    width: 500px !important;
}
.EmojiPicker{
    position: absolute!important;
    top: -425px!important;
    left: auto;
    z-index: -100;
    
}
.sendIcon{
    color:#1cda62d8;
}

@media screen and (max-width: 1024px) {
    .chatback{
        background: #ece5d0;
        top: 20px;
        right: 20px;
        left: 80px;
        bottom: 20px;
        position: absolute;
        overflow: auto;
        z-index: 100;
       margin-left: 200px;
        border-right: 1px solid whitesmoke;
        height: 95vh;
        min-width: 60%;
        max-width: 70%;
        overflow: hidden;
        overflow-y: scroll;
        -ms-overflow-style:none;
        scrollbar-width: none;
    }
  }